<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.username %> </title>
</head>
<body>
    <h1><%= data.username %></h1>
    <p>Games - </p>
    <% data.games.forEach(element => { %>
        <p><%= element %></p>      
    <%}) %>
    <p>Best game - </p> 
    <p><%= data.best_game %></p>
    <p>IGN -</p>
    <p><%= data.ign %></p>
</body>
</html>